.container{
position: relative;
background-color: #E9E6E3;
height: auto;
width: 100%;
padding: 2rem 5vw;
    .box{
        font-size: 20px;
        display: flex;
        flex-direction: column;
        h2{margin-bottom: 0;}
        p{
            width: 100%;
            min-width: auto;
            font-size: 20px;
            line-height: auto;
        }
        a{
            color: black !important;
            &:hover{
            text-decoration: underline !important;
            }
        }
    }
    .flex_box{
        display: flex;
        flex-direction: column;
    }
    .abs_img{
        position: fixed;
        bottom: 1.5rem;
        right: 1.5rem;
    }
}


@media (min-width: 900px) {
    .container{
        position: relative;
        height: calc(100vh - 140px);
        width: 100%;
        padding: 5rem 5vw;
            .box{
                font-size: 25px;
                display: flex;
                padding-bottom: 1rem;
                p{
                    padding-right: 3rem;
                    min-width: 300px;
                    max-width: 700px;
                    min-width: 900px;
                    font-size: 35px;
                    line-height: 40px;
                }
                .info{
                    font-size: 25px;
                }
                a{
                    color: black;
                    &:hover{
                    text-decoration: underline;
                    }
                }
            }
            .abs_img{
                position: fixed;
                bottom: 5rem;
                right: 5vw;
            }
        }
        
  }