.container{
    margin-top: -60px;
    position: relative;
    .abs_img{
        position: fixed;
        bottom: 1.5rem;
        right: 1.5rem;
    }
}


@media (min-width: 900px) {
    .container{         
        .abs_img{
            position: fixed;
            bottom: 5rem;
            right: 5vw;
        }
    }
}