
.navbar{
    z-index: 9999;
    padding: 0;
    width: 100%;
    position: fixed;
    height: 60px;
    background-color: black;
    .abs_title{
        position: fixed;
        left: 5vw;
        top: 16px;
        z-index: 9999;
    }
    a{
        text-decoration: none;
        color: #ffffff;
        font-weight: 600;
        font-size: 20px;
    } 
    .active{
        text-decoration: underline !important;
    }
    nav{
        width: 350px;
        display: flex;
        justify-content: space-between;
   }
}

.navbar_projects{
    z-index: 9999;
    padding: 0;
    width: 100%;
    position: fixed;
    height: 60px;
    background-color: transparent;
    .abs_title{
        position: fixed;
        left: 5vw;
        top: 3.5vh;
        z-index: 9999;
    }
    a{
    text-decoration: none;
        color: #ffffff;
        font-weight: 600;
        font-size: 20px;
    } 
    .active{
        text-decoration: underline !important;
    }
    nav{
        width: 350px;
        display: flex;
        justify-content: space-between;
   }
}
.burger_nav{
    a{
        font-family: 'butler';
    }
}

@media (min-width: 870px) {
.navbar, .navbar_projects{
    padding: 0 5vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a{
        color: #ffffff;
        font-weight: 600;
        font-size: 20px;
    } 
    .active{
        text-decoration: underline;
    }
}
}