/* .carousel-item-next{
    transition: transform 0s ease-in-out;
  }
  .carousel-item-prev{
      transition: transform 0s ease-in-out;
  }
  .carousel-item-left {
      transform: translateX(-100%);
  }
  .carousel-item-right {
      transform: translateX(100%);
  } */

  .carousel-caption{
    top: 60%;
    right: 0;
    left: 0;
    transform: translateY(-50%);
  }

  .carousel-indicators [data-bs-target] {
      padding: .2rem !important;
  }

  @media (min-width: 870px) {
    .carousel-caption{
        top: 55%;
      }
  }