.abs_arrow{
    position: absolute;
    background-color: transparent;
    height: 50px;
    width: 50px;
    margin: 0 auto;
    filter: brightness(0) invert(1);
    bottom: 3rem;
    left: 0;
    right: 0;
    animation-name: pulse;
    animation-duration: 700ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    img{
        position: absolute;
        height: 50px;
        width: 50px;
    }
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}

	70% {
		transform: scale(1.2);
	}

	100% {
		transform: scale(1);
	}
}